<div role="tabpanel" class="tab-pane config-section active" id="settings">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label>
				Enable Plugin<br>
				<small class="form-text text-muted">
					Globally enable or disable the kdfd integration plugin
				</small>
			</label>
			<select class="form-control custom-select" name="challenge_enabled">
				<option value="public" {% if challenge_enabled %}selected{% endif %}>
					Enabled
				</option>
				<option value="private" {% if not challenge_enabled %}selected{% endif %}>
					Disabled
				</option>
			</select>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
</div>
